body {
  background-color: aquamarine;
}
.pie {
  background-color: blue;
  height: 10vh;
  text-align: center;
  color: white
}
.pie p {
  padding-top: 20px;
}
main {
  background-color: aquamarine;
  width: 100vw;
}